.suiwc-facets-header {
    font-weight: 700;
    padding: 5px;
    padding-bottom: 15px;

}

hr {
    margin-left: -6px;
    margin-right: -8px;
    border: .5px solid #eee;
}

.suiwc-facets {
}

.suiwc-facets-body {
    padding: 5px;
}

.suiwc-facets-list-badge {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 15px;
    background: #747474;
    height: 15px;
    line-height: normal;
    border-radius: 10px;
    font-size: 10px;
    padding: 0 4px;
    margin-right: 6px;
    white-space: nowrap;
    text-align: center;
    color: #fff;
}

